*{
    font-family: 'Times New Roman', Times, serif;
}

/* header */
header{
    background-color: #0063B2FF;
    color: goldenrod;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    font-family: 'Times New Roman', Times, serif;
}

header h1{
    text-align: center;
}

/* hero */
.hero{
    background-image: url("../photos/bar2.jpg");
    background-size: cover;
    height: 200px;
    justify-content: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    align-items: center;
    background-attachment: fixed;
    background-position: 80%;
    align-items: center;
}

button{
    background-color: #ecc19c;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    position: relative;
    font-family: 'Times New Roman', Times, serif
}    

button:hover {
    background-color: goldenrod;
}

.btn{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

h2 {
    color: gold;
}

.card2{
    padding: 2px 16px;
}

/* footer */
.footer{
    background-color: #0063B2FF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 35px;
    color: goldenrod;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
