*{
    font-family: 'Times New Roman', Times, serif;  
}

/* header */
header{
    background-color: #263238;
    color: gold;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    font-family: 'Times New Roman', Times, serif;
}

header h1{
    background-color: #263238;
}

/* hero */
.hero{
    background-image: url("../photos/bar-2.jpg");
    background-size: cover;
    height: 200px;
    justify-content: center;
    flex-wrap: wrap;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    align-items: center;
}

/* description */
#description{
    text-indent: 30px;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
}

/* buttons */
button{
    background-color: #455a64;
    color: black;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    position: relative;
    font-family: "Times New Roman", Times, serif;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 15px 32px;
    text-decoration: none;
}

.btn{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

button:hover {
    background-color: gold;
}

/* card */
.card {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.title {
    color: gold;
    text-decoration: underline gold;
}

.my-container {
    width:150px;
    height: 120px;
    text-align: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px 0px 20px 0px;
}

.drink-image {
    width: 100%;
    height: auto;
    
}

#history{
    padding: 20px 40px 20px 40px;
}

i{
    font-size: xx-large;
    color: #263238;
}
/* main */

.lil {
    padding: 20px 0px 20px 0px;
    background-color: #90a4ae;
}

/* footer */
.footer{
    background-color: #263238;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: gold;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 20px 35px;
}
img {
    height: 200px;
    width: 200px;
}