header{
    background-color: #8B4513;
    color: gold;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    font-family: Impact, Charcoal, sans-serif;
}

.hero{
    background-image: url("../photos/bar-1.jpg");
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    align-items: right;
}
